/* CSS for the Pokedex heading and form */
h1 {
  font-family:'Open Sans', Arial;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size:14px;
}

button {
  height:42px;
  padding-left:20px;
  padding-right:20px;
}

/* --------------------------------- */

/* CSS for the pokemon search result */
img {
  /*border:1px solid red;*/
  margin-left: -32px;
}

.card {
  border: 1px solid #999999;
  max-width:300px;
  padding-left:25px;
  font-family:'Open Sans', Arial;
  color:#4A4A4A;
  display:none;
}

.card h2 {
  color:#000000;
}

.card h3 {
  color:#000000;
}
